{% extends "moderka/layout.twig" %}
{% block title %}Новости{% endblock %}
{% block news %}active{% endblock %}

{% block content %}
    <h1>Редактирование новости</h1>

    <form action="/moderka/news/{{ news.id }}/update" method="post" enctype="multipart/form-data">
        {% include 'moderka/news/_form.twig' with {'creating': false} %}
    </form>
{% endblock %}