<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/error/style.css">
<body>
<div class="error">
    <div class="error-fon">404</div>
    <div class="error-text-wrap">
        <div class="error-text-top">404 Not Found</div>
        <div class="error-test-separate"></div>
        <div class="error-text-bottom">kraimbrery.com</div>
    </div>
</div>
</body>
</html>