AuthType Basic
AuthName "Авторизация"
AuthUserFile /var/www/u0418104/public_html/kraimbrery.com/moderka/.htpasswd
Require valid-user
<Files .htpasswd>
   deny from all  #запрет доступа из браузера к .htpasswd
</Files>

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /moderka/index.php [QSA,L]